# Eclipse
/.settings
/.classpath
/.project

# JetBrains IntelliJ
/*.eml
/*.iml
/.idea/

# VS Code
/*.code-workspace

# MacOS metadata
.DS_Store

# terraform
.terraform/
terraform.tfstate*
terraform.tfstate.d/
build/
.crash.log
.terraform.tfstate.lock.info

# python
.python_history
.pyc
.pyo
__pycache__
