# systemd unit file. Place as /etc/systemd/system/wsrv.service, enable and start

[Unit]
Description=Splunk admin interface
After=network.target

[Service]
User=linux
Group=linux
Environment=ARG1=username_goes_here ARG2=password_goes_here
ExecStart=/home/terraform/terrasplunk/bin/wsrv.py --user $ARG1 --password $ARG2 --health_score_watermark 90
Restart=on-failure
RestartSec=10s
Type=simple
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
