# systemd unit file. Place as /etc/systemd/system/wsrv.service, enable and start

[Unit]
Description=Splunk admin interface
After=network.target

[Service]
User=linux
Group=linux
Environment=WSRV_USR=username_goes_here WSRV_PSW=password_goes_here
ExecStart=/home/terraform/terrasplunk/bin/wsrv.py --low_watermark 100 --high_watermark 76 --user $WSRV_USR --password $WSRV_PSW
Restart=on-failure
RestartSec=10s
Type=simple
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

